nav {
  z-index: 10;
  height: 10vh; }

.dashboard {
  height: 90vh; }
  .dashboard .sidebar {
    z-index: 9;
    padding: 0;
    height: 90vh;
    border-right: 1px solid rgba(0, 0, 0, 0.125); }
    .dashboard .sidebar .list-group-item {
      border-radius: 0;
      border-right: none; }
      .dashboard .sidebar .list-group-item h5 {
        display: inline; }
      .dashboard .sidebar .list-group-item .fa {
        float: right; }
      .dashboard .sidebar .list-group-item:first-child {
        border-top: none; }

#note-title {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  margin: 1rem 0 0.6rem 0;
  padding: 0.25rem 0;
  font-weight: bold;
  font-size: 2rem;
  height: auto; }

.RichEditor-root {
  font-family: 'Georgia', serif;
  font-size: 14px; }

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px; }
  .RichEditor-editor .public-DraftEditorPlaceholder-root {
    margin: 0 -15px -15px;
    padding: 15px; }
  .RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
    min-height: 100px; }
  .RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px; }
  .RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px; }

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none; }

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block; }

.RichEditor-activeButton {
  color: #5890ff; }

#submit-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%; }
  #submit-button:disabled {
    background-color: #333;
    border-color: #333; }
