nav {
  z-index: 10;
  height: 10vh;
}

.dashboard {
  height: 90vh;
  .sidebar {
    z-index: 9;
    padding: 0;
    height: 90vh;
    border-right: 1px solid rgba(#000, 0.125);
    .list-group-item {
      border-radius: 0;
      border-right: none;
      h5 {
        display: inline;
      }
      .fa {
        float: right;
      }
      &:first-child {
        border-top: none;
      }
    }
  }
}

@import './partials/editor';
